

h2 {
    color: rgba(202,54,22,0.6);
    font-family: sans-serif;
}

body {
    background-color: lightGray;
}

.tab {
    display: inline-block;
    background-color: darkGray;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 12px;
    padding: 10px;
    font-family: sans-serif;
    width: 70px;
    text-align: center;
    Color: black;
}

